body {
  font-family: 'Open Sans';
}

.navbar {
  background-color: #6cbe5e;
  color: #ffffff;
  font-size: 24px;
}

.navbar .menu .p-2 {
  margin-right: 5%;
}

.banner .image-banner {
  padding: 0;
  position: relative;
  width: 100%;
  height: 600px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.list-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.list-products .kotak-wrapper {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 350px;
  height: 250px;
  /* padding: 50px; */
  margin: 25px;
}

.page-number .ordered-page {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.page-number {
  margin: 20px;
}

.list-product .tulisan-product {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /* margin: 20px; */
}

.footer {
  background-color: #6cbe5e;
  color: #ffffff;
  height: 75px;
  font-size: 18px;
}

.footer .menu-footer .p-2 {
  margin-left: 10px;
}

.related-movie {
  background-color: lightsteelblue;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  /* padding: 50%; */
}

.carousel-inner .carousel-item {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.carousel-inner .carousel-item.active {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.carousel-inner .carousel-item.active img {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.review {
  background-color: lightsteelblue;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
