body {
  font-family: 'Open Sans';
}

.navbar {
  background-color: #6cbe5e;
  color: #ffffff;
  font-size: 24px;
}

.navbar .menu .p-2 {
  margin-right: 5%;
}

.banner .wrapper-banner {
  padding: 0;
  position: relative;
  width: 100%;
  height: 600px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* .list-product .isian-product{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.list-product .isian-product .baris-pertama .product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.list-product .isian-product .baris-kedua .product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.list-product .isian-product .baris-ketiga .product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.footer {
  background-color: #6cbe5e;
  color: #ffffff;
  height:75px;
  font-size: 18px;
}

.footer .menu-footer .p-2 {
  margin-left: 10px;
}